header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 20%;
  flex-wrap: wrap;
}

.navbar{
  display: flex;
  flex-direction: column;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}


/* Estilos responsive */
@media (max-width: 850px) {
  header{
    justify-content: center;
  }
}
