header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
}
.navbar {
  padding: 10px 20px;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}


/* Estilos responsive */
@media (max-width: 600px) {
  header{
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-list {
    flex-direction: column;
    align-items: center;
  }
}
