
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 2rem;
  }
    .branding{
    width: 33%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    border: solid;
    border-color: rgb(255, 255, 255);
  }
.render{
  width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    border: solid;
    border-color: rgb(255, 255, 255);
  }

  .program{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    border: solid;
    border-color: rgb(255, 255, 255);
  }
  a > img{
    width: 100%;
  }

  @media screen and (min-width: 390px) and (max-width: 718px) {
    .render{
      width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem 1rem 0 0;
        border: solid;
        border-color: rgb(255, 255, 255);
      }
    .program{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem 1rem 0 0;
        border: solid;
        border-color: rgb(255, 255, 255);
      }
    }