.boxContact {
    display: flex;
    justify-content: center;
    align-items: center;
}
  .formulario{
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 3rem;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
}

h2{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.form-group{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 20rem;
}
.form-group>label{
    font-size: 15px;
}
input{
    padding: 0.5rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;
}
textarea{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    height: 10rem;
    border-radius: 1rem;
    border: none;
}
.button{
    display: flex;
    justify-content: center;
}
.send{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #19456A;
    color: rgb(255, 255, 255);
    padding: 0 3rem;
    cursor: pointer;
}
.send:hover {
    background-color: #246398;
}