.list-skill {
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 3rem 2rem;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* Usar RGBA: (R, G, B, Opacidad) */
    background-color: rgb(214, 255, 224, 0.2);

}

.list-skill>.group-tittle {
    background-color: rgb(214, 255, 224, 0.2);
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    width: 90%;
    padding: 2rem 1rem;
    border-radius: 2rem;
    border: 5px solid #276190;
}

.group-tittle>.legend {
    background-color: rgb(214, 255, 224);
    padding: 1rem;
    font-size: 20px;
    color: #276190;
    border-radius: 1rem;
    border: 5px solid #276190;
}

.skill-card {
    background: linear-gradient(270deg, rgba(36, 99, 152, 0.95) 0%, rgba(30, 80, 120, 0.85) 100%);
    border-right: 2px solid #5686ae;
    border-top: 2px solid #7db6e5;
    border-bottom: 2px solid #3f5b72;
    border-left: 2px solid #577c9b;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6), /* Sombra principal para profundidad */-5px -5px 15px rgba(255, 255, 255, 0.2);
    /* Sombra clara/brillo */
    padding: 0 1rem;
    border-radius: 1rem;
    width: 17rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
    gap: 1rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Nueva línea: Suaviza el efecto */
}

/* Este es el nuevo bloque que necesitas */
.skill-card:hover {
    /* Expande el elemento un 5% (1.05) */
    transform: scale(1.05); 
    
    /* Opcional: Cambia la sombra para un efecto más "levantado" */
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7), 
                -8px -8px 20px rgba(255, 255, 255, 0.3);
}

.icon-skill-container {
    display: flex;
    background-color: rgb(19, 55, 84, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    height: 75%;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.icon-skill {
    font-size: 40px;
    padding: 0;
    width: 4rem;
    height: auto;
    color: white;
}

.conainer-skill {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    white-space: nowrap;
}

.conainer-skill>h2 {
    font-size: 22px;
}

@media screen and (min-width: 390px) and (max-width: 490px) {
        .list-skill>.group-tittle {
        width: 98%;
    }

}

@media screen and (min-width: 491px) and (max-width: 1040px) {
    .list-skill>.group-tittle {
        width: 95%;
    }
}