@media screen and (min-width: 390px) and (max-width: 490px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro>.perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .perfil>h1 {

    /* Usar RGBA: (R, G, B, Opacidad) */
    background-color: rgba(36, 99, 152, 0.3);
    margin: 0;
    padding: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
  }

  .intro>.about {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  .about>p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 2rem;
  }

  .experiencie>.list-exp {
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 2rem 1rem 2rem 1rem;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Usar RGBA: (R, G, B, Opacidad) */
    background-color: rgb(214, 255, 224, 0.3);

  }

  .list-exp>.exp-card {
    width: 90%;
  }


}

@media screen and (min-width: 491px) and (max-width: 1040px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .intro>.perfil {

    display: flex;
    flex-direction: column;
  }

  .perfil>h1 {
    /* Usar RGBA: (R, G, B, Opacidad) */
    background-color: rgba(36, 99, 152, 0.3);
    padding: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

  }

  .intro>.about {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  .about>p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 2rem;
  }

  .tittle-exp {
    width: 100%;
    /* Usar RGBA: (R, G, B, Opacidad) */
    background-color: rgba(36, 99, 152, 0.3);
    padding: 1rem;
    text-align: center;
  }

  .experiencie>.list-exp {
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 3rem 2rem 3rem 2rem;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: rgb(214, 255, 224, 0.3);

  }

  .list-exp>.exp-card {
    cursor: pointer;
    width: 45%;
  }


}

@media screen and (min-width: 1041px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro>.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 4rem;

  }

  .perfil>h1 {
    padding: 0 7rem 0 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
  }

  .intro>.about {
    /* Usar RGBA: (R, G, B, Opacidad) */
    background-color: rgba(36, 99, 152, 0.3);
    width: 100%;
    padding: 0 4rem;
    display: flex;
    justify-content: center;
  }


  .experiencie>.list-exp {
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 3rem 2rem 3rem 2rem;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* Usar RGBA: (R, G, B, Opacidad) */
    background-color: rgb(214, 255, 224, 0.4);

  }

  .list-exp>.exp-card {
    cursor: pointer;
    width: 22%;
  }

  .about>p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 2rem;
  }

  
}

.intro>.experiencie {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tittle-exp {
  width: 100%;
  /* Usar RGBA: (R, G, B, Opacidad) */
   background: linear-gradient(180deg, rgba(36, 99, 152, 0.95) 0%, rgba(30, 80, 120, 0.85) 100%);
  padding: 2rem;
  text-align: center;
}
.exp-card>h3 {
  font-size: 15px;
}

  .list-exp>.exp-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.95) 0%, rgba(209, 223, 235, 0.85) 100%);
    border-right: 2px solid #5686ae;
    border-top: 2px solid #7db6e5;
    border-bottom: 2px solid #3f5b72;
    border-left: 2px solid #577c9b;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6),
      /* Sombra principal para profundidad */
      -5px -5px 15px rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Nueva línea: Suaviza el efecto */
  }

  /* Este es el nuevo bloque que necesitas */
.exp-card:hover {
    /* Expande el elemento un 5% (1.05) */
    transform: scale(1.05); 
    
    /* Opcional: Cambia la sombra para un efecto más "levantado" */
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7), 
                -8px -8px 20px rgba(255, 255, 255, 0.3);
}

  .intro>.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tittle-skill {
    width: 100%;
    /* Usar RGBA: (R, G, B, Opacidad) */
     background: linear-gradient(180deg, rgba(36, 99, 152, 0.95) 0%, rgba(30, 80, 120, 0.85) 100%);
    padding: 2rem;
    text-align: center;
  }