@media screen and (min-width: 390px) and (max-width: 490px) {
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .intro > .perfil {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
      }
      .perfil > h1 {

        background-color: #246398;
        margin: 0;
        padding: 2rem;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
      }
      .intro > .about {
        padding: 1rem;
        display: flex;
        justify-content: center;
      }
      .about > p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        padding: 2rem;
      }
            .tittle-exp {
        width: 100%;
        background-color: #246398;
        padding: 1rem;
        text-align: center;
      }
      .experiencie > .list-exp {
        width: 100%;
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        padding: 1rem 1rem 1rem 1rem;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #D6FFE0;
        
      }
      .list-exp > .exp-card {
        padding-top: 0.5rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: #adf6bf;
        border-radius: 1rem;
      }
}
@media screen and (min-width: 491px) and (max-width: 1040px) {
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
      }
      .intro > .perfil {
        
        display: flex;
        flex-direction: column;
      }
      .perfil > h1 {
        background-color: #246398;
        padding: 1rem;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        
      }
      .intro > .about {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
      }
      .about > p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        padding: 2rem;
      }
            .tittle-exp {
        width: 100%;
        background-color: #246398;
        padding: 1rem;
        text-align: center;
      }
      .experiencie > .list-exp {
        width: 100%;
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        padding: 3rem 2rem 1rem 2rem;
        gap: 2rem;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        background-color: #D6FFE0;
        
      }
      .list-exp > .exp-card {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
      }
}
@media screen and (min-width: 1041px) {
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .intro > .perfil {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 4rem;

      }
      .perfil > h1 {
        padding: 0 7rem 0 0;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
      }
      .intro > .about {
        background-color: #246398;
        width: 100%;
        padding: 0 4rem;
        display: flex;
        justify-content: center;
      }
      .intro > .experiencie {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .tittle-exp {
        width: 100%;
        background-color: #246398;
        padding: 1rem;
        text-align: center;
      }
      .experiencie > .list-exp {
        width: 100%;
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        padding: 3rem 2rem 1rem 2rem;
        gap: 2rem;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        background-color: #D6FFE0;
        
      }
      .list-exp > .exp-card {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
      }

      .about > p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        padding: 2rem;
      }
}


