.navbar-item {
  margin: 15px;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(36, 99, 152, 0.3) 0%, rgba(30, 80, 120,0.3) 100%);
    z-index: 1000;
    border-top: 2px solid #7db6e5;
    border-bottom: 2px solid #3f5b72;
    font-size: 12px;

}

a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: none;
}

/* Estilos responsive */
@media (max-width: 600px) {
  .navbar-item {
    margin: 10px 0;
  }
}