.foto {
  width: 100%;
    display: flex;
    justify-content: center;
  }
  .foto > img {
    width: 50%;
  }

  @media screen and (min-width: 390px) and (max-width: 490px) {
      .foto > img {
    width: 80%;
  }
  }